<input type="hidden" th:field="*{id}"/>

<div class="col-xs-12 col-sm-6">
    <label for="text" class="form-label">Name</label>
    <input type="text" class="form-control" th:field="*{name}" placeholder="i.e Jasmine" autofocus />
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
    <br/>
</div>

<div class="col-xs-12 col-sm-6">
    <label for="text" class="form-label">Capacity</label>
    <input type="text" class="form-control" th:field="*{capacity}"  />
    <span th:if="${#fields.hasErrors('capacity')}" th:errors="*{capacity}" class="text-danger"></span>
    <br/>
</div>