<!doctype html>
<html lang="en"
      layout:decorate="~{shared/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create New Room</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Create New Room</h1>

    <form th:action="@{/room/save}" th:object="${room}" method="post">
        <div th:insert="~{/room/_form}"></div>
        <input type="submit" class="btn btn-primary" value="save"/>
    </form>

</div>
</body>
</html>